body {
    height: 400px;
}

.div1 {
    position: relative;
    top: -20px;
    left: -20px;
    background-color: yellow;
    width: 650px;
    height: 150px;
}

.div2 {
    position: relative;
    left: 400px;
    top: -186px;
    border-bottom: 150px solid red;
    border-left: 50px solid transparent;
    width: 1078px;
    height: 0;
}

.div3 {
    position: relative;
    background-color: yellow;
    width: 850px;
    height: 550px;
    left: 320px;
    top: -150px;
    border: 14px double black;
    border-radius: 50px;
}

p{
    position: relative;
    left: 10px;
    width: 820px;
}

.p_div2 {
    position: relative;
    top: 40px;
}

.p_div1 {
    position: relative;
    top: 40px;
    left: 40px;
}

.star_div{
    position: relative;
    /*top: -110px;*/
    left: 30px;
    height: 250px;
}

.star2{
    position: relative;
    top: -214px;
    left: 190px;
}

.star3{
    position: relative;
    top: -428px;
    left: 380px;
}

.star4{
    position: relative;
    top: -642px;
    left: 570px;
}

.letters{
    width: 5px;
    height: 10px;
    position: absolute;
    left: 68px;
    top: -70px;
    font-size: 111px;
    font-weight: bold;
    font-family: Cambria;
    letter-spacing: 116px;
    z-index: 1;
}